*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.display{
    position: relative;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.welcome{
    font-size: 2rem;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    background: linear-gradient( black 20%, rgb(52, 132, 134)70%, white 100%);
    justify-content: center;
    align-items: center;
    color:white;
    cursor: default;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    position: relative;
}

.welcome>h1{
    scroll-snap-align: end;
    position: sticky;
    top: 0;
}

.welcome>a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: default;
}


/* navbar */

.navbar{
    width: 100%;
    height: 10%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    padding-inline: 9vw;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.199);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    scroll-snap-align: start;
}

.top-left{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(52, 132, 134);
    cursor: pointer;
    text-shadow: 0 0 5px rgba(25, 161, 179, 0.777);
}

.top-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

li{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    color: #000;
    padding: 0 1rem;
}

.top-mid,ul,li>a{
    text-decoration: none;
    color: #000;
}

li>a:hover{
    color: rgb(52, 132, 134);
    text-shadow: 1px 1px 2px rgba(25, 161, 179, 0.777);
}

.down-btn>a{
    text-decoration: none;
    color: #000;
    font-size: large;
}

#down-btn{
    background-color: rgba(223, 220, 220, 0.767);
    padding: 0.5rem;
    border-radius: 15px;
    min-width: 142.06px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#down-btn:hover{
    padding: 0.5rem;
    background-color: rgb(81, 210, 212);
    color: #fff;
    box-shadow: inset 0 0 10px 0.5px #f8f9fa;
}


main{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    height: 90%;
    width: 100%;
    background-color: #f8f9fa;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    width: 8px; 
}

main::-webkit-scrollbar-track {
    background: #f8f9fa; /* Track color */
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background: #b9b9b9; /* Thumb color */
    border-radius: 10px;
}


/* portfolio */

section{
    position: relative;
    width: 100%;
    min-height: min-content;
    padding: 9vw;
    scrollbar-width: none;
    overflow-y: scroll;    
}

.home{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 1em;
    padding-bottom: 0;
    flex-shrink: 0;

}

.picture{
    /* background-color: darkred; */
    min-width: 300px;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2em 0 ;
    width: 50%;
    position: relative;
}

#picture img{
    /* border: 2px solid burlywood; */
    border-radius: 46% 54% 60% 40% / 38% 51% 49% 62% ;
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    height: 200%;
    transform: scaleY(1.2);
    object-fit: cover;
}

.self{
    /* background-color: wheat; */
    flex: 1;
    width: 50%;
    min-width: 300px;
    position: relative;
}

.self>h1{
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: goldenrod;
    color: white;    
}

.self>p{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 2rem 0;
    position: relative;
}

.self>p::after{
    content: "Web Developer";
    color: rgb(52, 132, 134);
}

.self>span{
    position: relative;
    font-size: large;
}

.self>div{
    display: flex;
    width: 100%;
    justify-content: left;
    position: relative;
    top: 10%;
}

#hire{
    background-color: rgb(110, 87, 224);
    border-radius: 15px;
    border: 0;
    color: white;
    padding: 0.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

#hire:hover{
    background-color: rgb(40, 91, 212);
}

.self>div>.down-btn{
    margin-left: 10%;
}

.icons{
    padding: 4% 0;
    max-width: 50%;
    gap: 10%;
}

.icon{
    background-color: #f8f9fa;
    flex-shrink: 0;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.scrolldown{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

#scrolldown{
    padding: 0.5rem 1rem;
    color: #000;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:4vh;
}

.about>h1,
.projects>h1{
    font-size: x-large;
    padding: 0.5em 0 2em;
}

.about_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    /* background-color: aqua; */
}

.introduction{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 1rem;
    width: 50%;
    border-radius: 15px;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.introduction>h2{
    font-size: x-large;
    font-weight: 400;
    padding: 0 0 1rem;
}

.introduction>p{
    color: gray;
    padding: 0 0 0.5rem;
}

.introduction>.down-btn{
    align-self: end;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
    min-width: 300px;
    font-size: x-large;
    font-weight: bold;
}

.skill{
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-height: 100%;
    padding: 1rem;
    flex: 1;
}

.skill>h2{
    font-size: x-large;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 0 1rem;

}

.skill>div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skill>div>span{
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(110, 87, 224);
    border-radius: 5px;
    font-size: small;
    font-weight: normal;
}


.projects{
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.project_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1em;
}

.project{
    /* background-color: yellowgreen; */
    height: 250px;
    width: 30%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.project::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: all 1s;
    z-index: -1;
}

.project:hover::after{
    bottom: 0;
    background-color: rgb(66, 220, 244);
    box-shadow: 0px -40px 50px 60px  rgb(66, 220, 244) ;  
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.pic{
    /* background-color: #8f4545; */
    height: 50%;
    width: 90%;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic>svg{
    color: rgb(66, 220, 244);
    height: 80%;
    transition: all 1s;
}

.project:hover .pic>svg,
.project:hover h2,
.project:hover h3 {
    color: #f8f9fa;
}

.project>h2{
    font-size: large;
    padding: 1rem 0;
    text-transform: capitalize;
    position: relative;
    transition: all 0.5s;
}

.project>h3{
    position: relative;
    padding: 0.5rem 0;
    font-size: small;
    color: #777;
    transition: all 0.5s;
}

.contact{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    min-height: max-content;
    overflow: hidden;
}

.contact>h1{
    font-size: x-large;
    padding: 0.5em 0;
}

.contact>h3{
    position: relative;
    color: #777;
    padding: 0 0 2em;
}

.contact_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 1em;
}

.mail{
    width: 50%;
    height: 300px;
    position: relative;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.input>input{
    padding: 1rem;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(167, 166, 166);
    outline: none;
}

.mail>form>textarea{
    resize: none;
    padding: 1rem;
    flex: 1;
    border-radius: 10px;
    border: 3px solid rgb(167, 166, 166);
    outline: none;
}

.mail>form>.button{
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: -45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(66, 220, 244);
    left: 0;
    cursor: pointer; 
}

.find{
    padding: 1rem;
    width: 50%;
    border-radius: 15px;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    overflow: hidden;
    z-index: 0;
}

.find::before{
content: "";
height: 100%;
width: 100%;
top: 0;
left: 0;
position: absolute;
background-color: rgb(66, 220, 244);
z-index: -1;
transition: all 1s;
}

.find:hover::before{
top: -100%;
left: 0;
}

.find>h2,h3{
    color: #f8f9fa;
    padding: 1rem 0;
    transition: all 1s ease 0.2s;
}

.find:hover>h2,
.find:hover>h3{
    color: #777;
    transition: all 1s ease 0.2s;
}

@media only screen and (max-width: 780px) {

    .picture{
        justify-content: center;
    }

    #picture img{
        transform: scale(0.83, 1);
    }

    .about_content{
        flex-direction: column;
    }

    .introduction, .skills{
        width: 100%;
    }

    .project_list{
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 100%;
    }

    .contact_box{
        flex-direction: column;
    }

    .contact_box>div{
        width: 100%;
    }
}